.wrapper{
    margin-block: 0;
    padding-block: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    /* border: 1px solid black; */
}

.searchBar{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding-inline: 1rem;
    border: 1px solid orangered;
    border-radius: 10rem;

    font-size: 1rem;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 1.5rem;
    display: flex;
    align-self: center;
}

.search{
    background-color: transparent;
    color: black;
    border: none;
    outline: none;

    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.formWrapper{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;

    position: relative;
}